@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	50% {
		
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
//Transition blinking
@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOnLoad {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
//Parallax
.animation-wrapper {
	position: relative;
  }
  
  .animation-wrapper[data-parallax] {
	transform: translate(0, 0);
	transition: transform 0.5s ease;
  }