@use '../util/' as u;
root {
	--silly-font: #{u.$silly-font};
}
html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: u.$font;
	background-color: var(--deep-water);
	color: var(--murky-clouds);
	justify-content: center;
	overflow-x: hidden;
	overscroll-behavior-y: none;
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

h1,
h2,
h3 {
	font-family: u.$header-font;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

figure,
blockquote {
	margin: 0;
}

header ul,
footer ul {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		left: 0;
		width: auto;
		background-color: #ffffff;
		height: auto;
		padding: 0.5rem;
		border: 1px solid;
	}
}

.logo-hover {
	transform: scale(1);
	transition-property: transform, opacity;
	transform-origin: center;
	transform: translateZ(0);
	transition-duration: 400ms;
	&:hover {
		opacity: 0.85;
		transform: scale(1.05);
	}
}

a {
	text-decoration: none;
	color: var(--lilly-green);
	font-weight: 600;

	transform: scale(1);
		transition-property: text-shadow, transform;
		transform-origin: center;
		transform: translateZ(0);
		transition-duration: 100ms;
		
		&:hover {
			text-decoration-thickness: 1px;
			transform: scale(1.05);
			color: var(--lilly-green);
			text-shadow: 0 0 20px hsla(195, 77%, 50%, 0.476);
		}
}