@use '../util/' as u;

.button {
	font-family: u.$header-font;
	display: inline-block;
	width: fit-content;
	font-size: u.rem(24);
	line-height: 1;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: u.rem(10) u.rem(14);
	border-radius: u.rem(24);
	margin-block: u.rem(20);
	transition-property: background-color, border, color, filter;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;

	position: relative;
	transform: scale(1);
	transform-origin: center;
	transform: translateZ(0);
	transition: transform 0.45s ease;
	@include u.breakpoint-down(medium) {
		font-size: u.rem(20);
	}
	@include u.breakpoint-down(small) {
		font-size: u.rem(16);
	}

	&:hover {
		transform: scale(1.05);
	}
	&:first-of-type {
		margin-inline-end: 20px;
	}

	&.primary {
		background-color: var(--lilly-green);
		color: var(--deep-water);
		border: u.rem(2) solid var(--lilly-green);

		&:hover {
			background-color: var(--lilly-green);
			border: u.rem(2) solid var(--lilly-green);
			color: var(--murky-clouds);
			filter: drop-shadow(0 0 20px hsla(112, 44%, 55%, 0.452));
		}

		&.white {
			background-color: var(--button-primary-white-bg);
			border: u.rem(2) solid var(--button-primary-white-bg);

			&:hover {
				color: var(--deep-water);
			}
		}
	}

	&.secondary {
		background-color: var(--blue-fog);
		color: var(--deep-water);
		border: u.rem(3) solid var(--blue-fog);

		&:hover {
			color: var(--murky-clouds);
			filter: drop-shadow(0 0 20px hsla(0, 0%, 90%, 0.226));
		}
	}
}
