:root {
	--deep-water: hsl(197, 100%, 4%);
	--blue-fog: hsl(195, 43%, 61%);
	--lilly-green: hsl(112, 44%, 55%);
	--swamp-puppy: hsl(120, 17%, 15%);
	--murky-clouds: hsl(0, 0%, 90%);
	--dark-blue-fog: hsl(194, 98%, 17%);
}



