:root {
	--deep-water: #000f14;
	--blue-fog: hsl(195, 43%, 61%);
	--lilly-green: hsl(112, 44%, 55%);
	--swamp-puppy: hsl(120, 17%, 15%);
	--murky-clouds: hsl(0, 0%, 90%);
	--dark-blue-fog: #014256;

	--background-color: hsl(196, 90%, 8%);
	--feature-1: hsl(198, 92%, 10%);
	--feature-2: hsl(261, 49%, 22%);
	--feature-3: hsl(170, 66%, 9%);
}
