:root {
	--deep-water: #000f14;
	--blue-fog: hsl(195, 43%, 61%);
	--lilly-green: #67bf5a;
	--swamp-puppy: hsl(120, 17%, 15%);
	--murky-clouds: hsl(0, 0%, 90%);
	--dark-blue-fog: hsl(194, 98%, 17%);

	--background-color: hsl(196, 90%, 9%);
	--feature-1: hsl(194, 100%, 12%);
	--feature-influencers: hsl(199, 82%, 13%);
	--feature-2: hsl(191, 94%, 7%);
	--feature-3: hsl(278, 36%, 13%);

	--about-background: hsla(160, 100%, 29%, 0.1);
}
