@use '../util/' as u;

h1,
h2,
h3 {
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 3.5rem;
	// font-size: clamp(5rem, 3.06rem + 4.45vw, 5rem);
	line-height: 1;
	margin-block-end: u.rem(20);

	@include u.breakpoint-down(medium) {
		font-size: 3rem;
	}
	@include u.breakpoint-down(small) {
		font-size: 2rem;
	}

	// @include u.breakpoint(xlarge) {
	// 	font-size: 5rem;
	// 	font-size: clamp(5rem, -1rem + 6.666666666666667vw, 8rem);
	// }
}

h2 {
	font-size: 2.5rem;
	// font-size: clamp(2.25rem, 1.91rem + 1.45vw, 3rem);
	line-height: 1.1;
	margin-block-end: u.rem(20);
}

h3 {
	font-size: u.rem(36);
	line-height: 1.5;
}

p {
	margin-top: 0;
	font-size: u.rem(22);
	font-style: italic;
	// font-size: u.rem(18);
	line-height: 1.5;
	@include u.breakpoint-down(medium) {
		font-size: u.rem(24);
	}
	@include u.breakpoint-down(small) {
		font-size: u.rem(18);
	}

	&.small {
		font-size: u.rem(18);
		@include u.breakpoint-down(small) {
			font-size: u.rem(12);
		}
	}

	// &.medium {
	// 	font-size: u.rem(20);
	// 	font-size: clamp(u.rem(20), 1.14rem + 0.484vw, u.rem(24));
	// }

	// &.large {
	// 	font-size: u.rem(24);
	// 	font-size: clamp(u.rem(24), 1.39rem + 0.48vw, u.rem(28));
	// 	margin-block-end: u.rem(40);
	// }
}

a,
a:visited,
a:active {
	text-decoration: none;
}

b {
	animation: glow 2s infinite;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px var(--lilly-green);
	}
	50% {
		text-shadow: 0 0 40px var(--lilly-green);
	}
	100% {
		text-shadow: 0 0 10px var(--lilly-green);
	}
}
