@use '../util/' as u;

h1,
h2,
h3 {
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 4rem;
	font-size: clamp(4rem, 3.6rem + 2vw, 6rem);
	line-height: 1;
	margin-block-end: u.rem(20);

	// @include u.breakpoint-down(small) {
	// 	font-size: 1rem;
	// 	font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
	// }
}

h2 {
	font-size: 2.25rem;
	font-size: clamp(2.25rem, 2.05rem + 1vw, 3.25rem);
	line-height: 1.1;
	margin-block-end: u.rem(20);

	@include u.breakpoint-down(medium) {
		font-size: 1.5rem;
		font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
	}
}

h3 {
	font-size: 1.2rem;
	font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.5rem);
	line-height: 2;
}

p {
	margin-top: 0;
	font-size: 1.25rem;
	font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
	line-height: 1.5;

	&.small {
		font-size: u.rem(18);
		@include u.breakpoint-down(small) {
			font-size: u.rem(16);
		}
	}
	&.large {
		font-size: 1.25rem;
		font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
	}
}

a,
a:visited,
a:active {
	text-decoration: none;
}

b {
	animation: glow 2s infinite;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px var(--lilly-green);
	}
	50% {
		text-shadow: 0 0 40px var(--lilly-green);
	}
	100% {
		text-shadow: 0 0 10px var(--lilly-green);
	}
}
