@use '../util' as u;

.about {
	overflow-x: hidden;
	width: 100vw;
	padding-top: 10vh;

	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;

	background-repeat: no-repeat;

	color: var(--murky-water);

	&__wrapper {
		padding-top: 10vh;
		width: min(100% - u.rem(0), 80%);
	}

	&__team-container {
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: min(100% - u.rem(40), 95%);

		@include u.breakpoint-down(large) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__services {
		width: 100vw;
		height: 100vh;
		background-color: var(--background-color);
		padding-top: 10vh;
	}

	&__team {
		width: 100vw;
		// min-height: 100vh;

		background-color: var(--background-color);
		background-image: url(/img/backgrounds/tinyPondText.png);
		background-position: center;
		background-size: 300vh;
		background-attachment: fixed;
	}

	&__featured-image {
		display: block;
		text-align: center;
		border: 4px solid var(--lilly-green);
		border-radius: 10px;
		box-shadow: 0 10px 10px hsla(210, 100%, 5%, 0.503);
		max-width: 600px;
		margin: 10px auto;
	}

	&__team-layout {
		display: flex;
		flex-direction: row;
		gap: 10px;
		justify-content: center;
		flex-wrap: wrap;

		@include u.breakpoint-down(medium) {
			gap: 10px;
		}

		& span {
			font-size: u.rem(32);
			line-height: 1.2;
			font-weight: 700;
			display: block;
			text-align: center;
			font-style: italic;
			margin-block-end: u.rem(20);
		}
	}

	&__values-layout {
		display: flex;
		flex-direction: row;
		column-gap: 40px;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;

		@include u.breakpoint-down(medium) {
			gap: 10px;
		}

		& span {
			font-size: u.rem(32);
			line-height: 1.2;
			font-weight: 700;
			display: block;
			text-align: center;
			font-style: italic;
			margin-block-end: u.rem(20);
		}

		& p {
			width: 22vw;
			min-width: 400px;
			border: 2px solid var(--lilly-green);
			border-radius: 15px;
			padding: 25px 35px;
			background-color: var(--about-background);
			backdrop-filter: blur(10px);
			transition: transform 0.3s ease, box-shadow 0.3s linear;
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185);

			&:hover {
				box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185),
					0 10px 40px rgba(2, 125, 20, 0.361);

				transform: translateY(-10px);
			}
		}
	}

	& h1 {
		font-size: 4rem;
		font-size: clamp(4rem, 3.6rem + 2vw, 6rem);
		line-height: 1.2;
		text-align: center;
		margin-bottom: u.rem(40);
	}

	& h2 {
		text-align: center;
	}

	& p {
		font-family: u.$font;
		font-weight: 400;
		line-height: 1.75;
		font-style: normal;
		margin-block: u.rem(40);
		text-align: left;

		@include u.breakpoint-down(small) {
		}
	}

	& img {
		// width: 50vw;
		max-width: 1200px;
		display: block;
		text-align: center;
		border: 4px solid var(--lilly-green);
		border-radius: 10px;
		box-shadow: 0 10px 10px hsla(210, 100%, 5%, 0.503);

		margin: 10px auto;

		@include u.breakpoint-down(large) {
			// width: 80vw;
		}
	}

	&__person {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		align-items: center;
		max-width: 30vw;
		padding: 20px;

		@include u.breakpoint-down(large) {
			max-width: 90vw;
		}

		@include u.breakpoint-down(small) {
			flex-direction: column;
		}
	}

	&__headshot {
		position: relative;
		display: block;
		margin: auto;
		width: 400px;
		height: 400px;
		top: 120px;
		background-image: url(/img/accents/Lilly\ Pad.svg);
		background-repeat: no-repeat;
		background-size: contain;
		box-shadow: 0 20 30px hsla(0, 0%, 0%, 0.268);
		overflow: visible;
		z-index: 100;

		@include u.breakpoint-down(small) {
			width: 300px;
			top: 200px;
		}
	}

	&__bio {
		display: block;
		min-height: 500px;
		width: 100%;
		max-width: 1000px;
		background-color: var(--about-background);
		border-radius: 20px;
		padding-block-end: 50px;
		border: 8px solid var(--lilly-green);
		background-size: 75%;
		backdrop-filter: blur(10px);
	}

	&__bio-name,
	&__bio-text {
		color: var(--murky-clouds);
	}

	&__bio-name {
		font-size: u.rem(48);
		text-align: center;
	}

	&__bio-name span {
		display: block;
		font-size: u.rem(24);
		font-family: u.$font;
		font-weight: 800;
		font-style: italic;
	}

	&__bio-text {
		padding-inline: 80px;

		@include u.breakpoint-down(medium) {
			padding-inline: 40px;
		}
	}

	&__bio-name {
		padding-top: 100px;
		margin-block: 40px;
	}
}

.pfp {
	position: absolute;
	border-radius: 50%;
	scale: 95%;
}

.divider {
	background-image: url(/img/accents/Leafs\ Long\ -\ Green.svg);
	background-repeat: no-repeat;
	height: 100px;
	width: 75%;
	margin: 0 auto;
}

#our-team,
#values-headline {
	text-align: center;
}

figcaption {
	font-style: italic;
	text-align: center;
	font-family: u.$font;
	color: var(--lilly-green);
}

.bio-accent {
	margin: 10px auto;
	width: 25px;
	text-align: center;
}

#values {
	padding-bottom: 25vh;
}
