@use '../util' as u;

.collapsible {
	background-color: #eeeeee00;
	color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: auto;
	border: none;
	text-align: left;
	outline: none;
	font-style: italic;

	font-size: u.rem(32);
	line-height: 1.2;
	font-weight: 700;

	transition-property: text-shadow, transform;
	transform-origin: center;
	transform: translateZ(0);
	transition-duration: 100ms;

	&:hover {
		text-decoration-thickness: 1px;
		color: var(--lilly-green);
		text-shadow: 0 0 20px hsl(195, 77%, 50%);
	}
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #00000000;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: rgba(255, 255, 255, 0);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible:after {
	content: '+'; /* Unicode character for "plus" sign (+) */
	font-size: 24px;
	color: white;
	// float: right;
	margin-left: 15px;
}

.active:after {
	content: '−'; /* Unicode character for "minus" sign (-) */
}

.simple-divider {
	width: 95%;
	height: 2px; /* You can adjust the height as needed */
	background-color: rgba(255, 255, 255, 0.439);
	margin: 16px auto; /* Adds spacing around the divider */
}
