@use '../util' as u;

.features h2 {
	// z-index: 10;
	text-align: center;
}

.features {
	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-size: 300vh;
	background-attachment: fixed;

	min-height: 100vh;
	width: 100vw;
	position: relative;

	transition: background-color 4s ease-out;

	&__2x {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		overflow: hidden;

		@include u.breakpoint-down(medium) {
			flex-direction: column;
			min-height: 50vh;
		}
	}

	&__text {
		z-index: 0;
		height: 100vh;
		flex: 1;
		max-width: 50vw;

		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;
		justify-content: center;
		padding-inline: 4vw;

		@include u.breakpoint-down(medium) {
			max-width: 80vw;
			text-align: center;
			padding-block: 10vh;
			align-items: center;
		}

		@include u.breakpoint(medium) {
			flex: 1;
		}
	}

	&__text h2 {
		font-size: 4rem;
		font-size: clamp(4rem, 3.2rem + 4vw, 8rem);
	}

	&__text-fullwidth {
		margin-top: 10vh;
	}

	&__text-fullwidth h3 {
		// font-size: 5rem;
		// font-size: clamp(5rem, 4.125rem + 4.375vw, 9.375rem);
		// padding-inline: 40px;
		text-align: left;
	}

	&__text h2,
	&__text p {
		text-align: left;

		@include u.breakpoint-down(medium) {
			text-align: center;
		}
	}

	&__text p {
		@include u.breakpoint(medium) {
			max-width: 75ch;
		}
	}

	&__fullwidth {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		min-height: 100vh;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		padding-inline: 10vw;
		padding-block: 10vh;
		// overflow: hidden;

		@include u.breakpoint-down(medium) {
			justify-content: center;
			align-items: center;
			min-height: 50vh;
			background-attachment: scroll;
		}
	}

	&__fullwidth h2 {
		text-align: center;
		overflow: hidden;
	}
	&__fullwidth p {
		text-align: left;

		@include u.breakpoint(medium) {
			max-width: 50ch;
		}
	}

	&__image {
		flex: 1;
		height: 100vh;
		object-fit: cover;

		@include u.breakpoint-down(small) {
			height: 50vh;
		}
	}

	&__2x video {
		flex: 1 1 50%;
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}

	&__image img {
		height: 100vh;
		width: 50vw;
		object-fit: cover;

		@include u.breakpoint-down(medium) {
			width: 100vw;
			height: 50vh;
		}
	}

	&__accent-container {
		position: relative;
		overflow: hidden;
	}
}

.accent {
	position: absolute;
	width: 200px;
	// z-index: -1;
}

.reverse {
	flex-direction: row-reverse;

	@include u.breakpoint-down(medium) {
		flex-direction: column;
	}
}

.darken {
	position: relative;
	z-index: 1;
}

.darken::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.571); /* Adjust transparency */
	z-index: -1;

	@include u.breakpoint-down(medium) {
		background: rgba(0, 0, 0, 0.804); /* Adjust transparency */
	}
}

#accent-design1 {
	z-index: 500;
	position: absolute;
	bottom: 10%;
	right: 10%;
}
#broadcast {
	background-image: url(/img/landing/broadcast\ comp.jpg);

	// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	// 	background-image: url(/img/landing/broadcast\ comp.jpg);
	// }
}

#influencers {
	background-image: url(/img/landing/influencer\ comp.jpg);
}
