@use '../util' as u;

.features {
	// box-shadow: 0 -150px 200px var(--feature-1);
	min-height: 300vh;
	background-color: var(--feature-1);
	// pointer-events: none;
	padding-bottom: 20vh;
	position: relative;
	margin-block-start: -1px;
	transition: background-color 1.5s;
	background-image: linear-gradient(
			to right,
			rgba(33, 33, 33, 0.357) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			rgba(33, 33, 33, 0.357) 1px,
			transparent 1px
		);
	background-size: 3vw 3vw; /* Adjust grid size as needed */
	background-position: -50%;
	background-attachment: fixed;
	overflow: hidden;

	@include u.breakpoint-down(medium) {
		background-size: 20vw 20vw;
	}

	@include u.breakpoint-down(small) {
		background-size: 10vw 10vw;
	}

	&__wrapper {
		gap: u.rem(40) u.rem(20);
	}

	&__label {
		@include u.breakpoint-down(small) {
			text-align: center;
		}
	}

	&__headline {
		font-size: 4rem;
		font-size: clamp(5rem, 3.06rem + 4.45vw, 5rem);
		line-height: 1;

		@include u.breakpoint-down(small) {
			font-size: 2.5rem;
			font-size: clamp(
				2.5rem,
				1.5601503759398496rem + 5.012531328320802vw,
				3.75rem
			);
			margin-block-end: u.rem(80);
		}
	}

	&__description {
		max-width: 40ch;
	}

	&__title {
		margin-block-end: u.rem(5);
	}

	&__image {
		flex: 1 1 45%;
		margin-block-end: u.rem(40);
		height: auto;
		transform: scale(1);
		transition-property: transform, opacity;
		transform-origin: center;
		transform: translateZ(0);
		transition-duration: 400ms;
		&:hover {
			opacity: 0.95;
			transform: scale(1.05);
		}
	}

	&__headline {
		text-align: center;
		margin-block-end: u.rem(100);
	}

	&__item {
		flex: 1 1 50%;
	}
}

.svg-bg,
.svg-bg__2 {
	z-index: 0;
	position: absolute;
	min-width: 100vw;
	// width: 50vw;
	padding: 10em;
	overflow: hidden;
	@include u.breakpoint-down(large) {
	}
}

.svg-bg {
	top: 0%;
	left: -30vw;

	@include u.breakpoint-down(large) {
		height: 350vh;
		width: auto;
		// max-width: 200vw;
		left: -40vw;
	}
	// @include u.breakpoint-down(medium) {
	// 	height: 20vh;
	// 	width: auto;
	// 	left: -100vw;
	// }
}

.svg-bg__2 {
	top: 5%;
	left: 30vw;
	fill: #ffffff;

	@include u.breakpoint-down(large) {
		display: none;
	}
}
