@use '../util' as u;

.features {
	min-height: 300vh;
	padding-bottom: 20vh;
	position: relative;
	background-color: var(--feature-1);
	margin-block-start: -1px;
	background-image: linear-gradient(
			to right,
			rgba(129, 129, 129, 0.1) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			rgba(129, 129, 129, 0.1) 1px,
			transparent 1px
		);
	background-size: 3vw 3vw; /* Adjust grid size as needed */
	background-position: -50%;
	background-attachment: fixed;
	transition: background-color 2s;
	z-index: -1;
	overflow: hidden;

	@include u.breakpoint-down(medium) {
		background-size: 20vw 20vw;
	}

	@include u.breakpoint-down(small) {
		background-size: 10vw 10vw;
	}

	&__wrapper {
		gap: u.rem(40) u.rem(20);
	}

	&__wrapper2 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include u.breakpoint-down(small) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__label {
		@include u.breakpoint-down(small) {
			text-align: center;
		}
	}

	&__headline {
		font-size: 4rem;
		font-size: clamp(5rem, 3.06rem + 4.45vw, 5rem);
		line-height: 1;

		@include u.breakpoint-down(small) {
			font-size: 2.5rem;
			font-size: clamp(
				2.5rem,
				1.5601503759398496rem + 5.012531328320802vw,
				3.75rem
			);
			margin-block-end: u.rem(80);
		}
	}

	&__description {
		max-width: 40ch;
	}

	&__title {
		margin-block-end: u.rem(5);
	}

	&__image {
		flex: 1 1 45%;
		margin-block-end: u.rem(40);
		height: auto;
		transform: scale(1);
		transition-property: transform, opacity;
		transform-origin: center;
		transform: translateZ(0);
		transition-duration: 400ms;
		&:hover {
			opacity: 0.95;
			transform: scale(1.05);
		}
	}

	&__headline {
		text-align: center;
		margin-block-end: u.rem(100);
	}

	&__item {
		flex: 1 1 50%;
	}
}

.svg-bg,
.svg-bg__2 {
	z-index: -50;
	position: absolute;
	max-width: 100vw;
	padding: 10em;
	overflow: hidden;

	@include u.breakpoint-down(small) {
		width: 140vw;
	}
}

.svg-bg {
	top: -10%;
	left: -30vw;

	@include u.breakpoint-down(small) {
		top: 0;
		left: 50;

		padding: 4vw;
	}
}

.svg-bg__2 {
	top: -8%;
	left: 30vw;
	fill: #ffffff;

	@include u.breakpoint-down(small) {
		padding: 4vw;
	}
}
