@use '../util' as u;

.features h2 {
	// z-index: 10;
	text-align: center;
}

.features {
	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-size: 300vh;
	background-attachment: fixed;

	min-height: 100vh;
	width: 100vw;
	position: relative;

	&__2x {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		overflow: hidden;

		@include u.breakpoint-down(medium) {
			flex-direction: column;
			min-height: 200vh;
		}
	}

	&__text {
		z-index: 0;
		height: 100vh;
		flex: 1;
		max-width: 50vw;

		display: flex;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;
		justify-content: center;
		padding-inline: 4vw;

		@include u.breakpoint-down(medium) {
			max-width: 80vw;
			text-align: center;
			min-height: 100vh;
			padding-block: 10vh;
		}

		@include u.breakpoint(medium) {
			flex: 1;
		}
	}

	&__text h2 {
		font-size: 6.25rem;
		font-size: clamp(6.25rem, 5.25rem + 5vw, 11.25rem);
	}

	&__text-fullwidth h2 {
		font-size: 5rem;
		font-size: clamp(5rem, 4.125rem + 4.375vw, 9.375rem);
		padding-inline: 40px;
	}

	&__text h2,
	&__text p {
		text-align: left;

		@include u.breakpoint-down(medium) {
			text-align: center;
		}
	}

	&__fullwidth {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		min-height: 100vh;
		background-attachment: fixed;
		// overflow: hidden;

		@include u.breakpoint-down(medium) {
			justify-content: center;
		}
	}

	&__fullwidth h2 {
		text-align: center;
	}
	&__fullwidth p {
		text-align: center;
	}

	&__image {
		flex: 1;
		height: 100vh;
		object-fit: cover;

		background-image: url(/img/landing/Logo\ Comp\ Render.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: auto auto;
	}

	&__accent-container {
		position: relative;
		overflow: hidden;
	}
}

.accent {
	position: relative;
	width: 200px;
	// z-index: -1;
}

.reverse {
	flex-direction: row-reverse;

	@include u.breakpoint-down(medium) {
		flex-direction: column;
	}
}

#design-image {
	background-image: url(/img/landing/Logo\ Comp\ Render.jpg);
}

#accent-design1 {
	position: absolute;
	bottom: 10%;
	right: 10%;
}
#broadcast {
	background-image: url(/img/landing/pexels-saunak-shah-1169776-2819290.webp);
}
#influencers {
	background-image: url(/img/landing/pexels-saunak-shah-1169776-2819290.webp);
}
