@use '../util' as u;

.features {
	background-color: var(--deep-water);

	&__wrapper {
		gap: u.rem(40) u.rem(20);
	}

	&__wrapper2 {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@include u.breakpoint-down(small) {
			flex-direction: column;
			text-align: center;
		}
	}

	&__label {
		@include u.breakpoint-down(small) {
			text-align: center;
		}
	}

	&__headline {
		font-size: 4rem;
		font-size: clamp(5rem, 3.06rem + 4.45vw, 5rem);
		line-height: 1;

		@include u.breakpoint-down(small) {
			font-size: 2.5rem;
			font-size: clamp(
				2.5rem,
				1.5601503759398496rem + 5.012531328320802vw,
				3.75rem
			);
			margin-block-end: u.rem(80);
		}
	}

	&__description {
		max-width: 40ch;
	}

	&__title {
		margin-block-end: u.rem(5);
	}

	&__image {
		flex: 1 1 35%;
		margin-block-end: u.rem(40);
		height: auto;
	}

	&__item {
		flex: 1 1 50%;
	}
}
