@use '../util' as u;

.footer {
	background-color: var(--background-color);
	$b: &;
	background-image: url(/img/accents/Texture\ Mushroom\ Green.svg);
	background-size: 75vw;

	&__wrapper {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: u.rem(40) u.rem(20);
	}

	&__logo {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		justify-content: center;
	}

	&__logo-image {
		width: 8rem;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	&__copyright {
		font-size: 12px;
		margin-block-end: 0;
		line-height: 1;
	}

	&__column-title {
		font-size: u.rem(22);
		line-height: 1.1;
		margin-block-end: u.rem(18);
	}

	&__column {
		flex-direction: row;
	}

	&__links {
		display: flex;
		gap: u.rem(40);
		justify-content: center;
		align-items: center;
	}

	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: u.rem(16);
		font-size: u.rem(18);
		line-height: 1;
		// margin-block-end: u.rem(10);
		color: var(--murky-clouds);

		&:hover {
			color: var(--lilly-green);

			.footer__social-path {
				fill: var(--lilly-green);
			}
		}
	}

	&__social {
		width: u.rem(18);
	}

	&__social-path {
		fill: var(--murky-clouds);

		&:hover {
			fill: var(--lilly-green);
		}
	}
	&__email {
		color: var(--lilly-green);

		transform: scale(1);
		transition-property: text-shadow, transform;
		transform-origin: center;
		transform: translateZ(0);
		transition-duration: 100ms;

		&:hover {
			text-decoration-thickness: 1px;
			transform: scale(1.05);
			color: var(--lilly-green);
			text-shadow: 0 0 20px hsla(195, 77%, 50%, 0.476);
		}
	}
}

form {
	display: flex;
	border: 10px solid goldenrod;
	flex-direction: row;
	width: 50vw;
	text-align: left;
	margin-block-end: u.rem(80);
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

input,
textarea {
	width: auto;
	padding: u.rem(20);
	border: 2px solid var(--lilly-green);
	border-radius: 4px;
	background-color: var(--swamp-puppy);
	color: white;
	&:focus {
		border: 4px solid var(--blue-fog);
	}
}

#email {
	flex-basis: 100;
	flex-grow: 3;
}

#name {
	flex-basis: 200;
	flex-grow: 1;
}

#message {
	flex-basis: 500;
	flex-grow: 5;
}
