@use '../util' as u;

.fw-cta {
	background-color: var(--deep-water);


	&__wrapper {
	}

	&__title {
	}

	&__description {
	}

	&__button {
	}

	&__form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 100rem;
	}
}

#message {
	flex-grow: 10;
}

#email {
	flex-grow: 2;
}
