@use '../util' as u;

%fullwidth {
	color: var(--text-light);
	text-align: center;
}

.fw-feature {
	// @include u.fullwidth;
	background-color: var(--fullwidth-bg);

	// &__wrapper {
	// }

	// &__title {
	// }

	

	&__image {
		max-width: u.rem(792);
		// height: auto;
		margin-inline: auto;
	}
}
