@use '../util' as u;

.gallery {
	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;

	background-repeat: no-repeat;
	position: relative;

	text-align: left;

	&__headline {
		font-size: 5em;
	}

	&__wrapper {
		padding-block: 12vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: u.rem(20);
		@include u.breakpoint(small) {
			max-width: 90vw;
		}
	}



	&__image-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 10px;

		align-items: center;

		@include u.breakpoint(large) {
			row-gap: 40px;
		}
	}

	&__image {
		width: 20vw;
		margin: 10px;

		@include u.breakpoint-down(large) {
			width: 35vw;
		}
		@include u.breakpoint-down(medium) {
			width: 40vw;
		}

		@include u.breakpoint-down(small) {
			width: 90vw;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			
			border-radius: 10px;
			box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.287);

			transform: scale(1);
			transform-origin: center;
			transform: translateZ(0);
			transition: transform, filter 0.4s ease;

			&:hover {
				transform: scale(1.02);
				// color: var(--murky-clouds);
				// filter: brightness(0.4);
			}
		}
	}
}
