@use '../util' as u;

.hero {
	color: var(--text-light);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		height: 100vh;
		gap: 40px;
		padding-top: u.rem(20);

		@include u.breakpoint-down(medium) {
			text-align: center;
		}
	}
	&__image {
		width: 62%;
		max-width: u.rem(483);
		padding-bottom: 20px;
		transition: transform 0.6s ease-in-out;

		&:hover {
			transform: rotate(-5deg); // Rotate image 10 degrees on hover
		}

		@include u.breakpoint(large) {
			// flex: 5;
			order: 2;
			width: 100%;
		}
	}
	&__text {
		float: left;
		@include u.breakpoint(large) {
			// flex: 6;
		}
	}

	&__content {
		max-width: 50ch; /* max 50 characters per line */

		overflow-wrap: break-word;
	}

	&__title {
		transition: opacity 0.5s; /* fade out and in */
		font-size: 6.25rem;
		font-size: clamp(6.25rem, 5.25rem + 5vw, 11.25rem);
	}

	&__button-wrapper {
		display: flex;
		justify-content: flex-start; // Horizontally center the items
	}
	&__background-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: -100;
		right: 0;
		@include u.breakpoint-down(medium) {
			right: -40vw;
			width: auto;
		}

		p {
			line-height: 2;
		}
	}

	&__gradient-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -1;

		@include u.breakpoint(large) {
			background: linear-gradient(
				to right,
				rgba(0, 50, 72, 0.998) 5%,
				rgba(255, 255, 255, 0) 50%
			);
		}

		@include u.breakpoint-down(medium) {
		}
	}

	.bg-text-hero {
		z-index: -1;
		font-family: u.$silly-font;
		font-size: 20vw;
		white-space: nowrap;
		-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.149);
		color: hsla(112, 44%, 55%, 0);
		overflow: hidden;
		top: 15%;
		left: -5%;
		position: absolute;
		overflow-x: hidden;
		box-sizing: border-box;
		animation: neon-flicker 12s alternate infinite;
		opacity: 15%;

		@include u.breakpoint-down(large) {
			font-size: 40vw;
		}

		@include u.breakpoint-down(medium) {
			font-size: 60vw;
			left: '';
			right: 0;
		}

		@include u.breakpoint-down(small) {
			opacity: 0;
		}
	}

	@keyframes neon-flicker {
		0% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.1);
			text-shadow: 0 0 2px 10px hsla(112, 44%, 55%, 0.1);
		}
		5% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.3);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.3);
		}
		10% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.2);
			text-shadow: 0 0 2px 9px hsla(112, 44%, 55%, 0.2);
		}
		15% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.5);
			text-shadow: 0 0 4px 15px hsla(112, 44%, 55%, 0.5);
		}
		20% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.1);
			text-shadow: 0 0 2px 10px hsla(112, 44%, 55%, 0.1);
		}
		25% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.4);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.4);
		}
		30% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.3);
			text-shadow: 0 0 2px 9px hsla(112, 44%, 55%, 0.3);
		}
		35% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.6);
			text-shadow: 0 0 4px 15px hsla(112, 44%, 55%, 0.6);
		}
		40% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.2);
			text-shadow: 0 0 2px 10px hsla(112, 44%, 55%, 0.2);
		}
		45% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.5);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.5);
		}
		50% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.1);
			text-shadow: 0 0 2px 9px hsla(112, 44%, 55%, 0.1);
		}
		55% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.4);
			text-shadow: 0 0 4px 15px hsla(112, 44%, 55%, 0.4);
		}
		60% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.3);
			text-shadow: 0 0 2px 10px hsla(112, 44%, 55%, 0.3);
		}
		65% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.6);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.6);
		}
		70% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.2);
			text-shadow: 0 0 2px 9px hsla(112, 44%, 55%, 0.2);
		}
		75% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.5);
			text-shadow: 0 0 4px 15px hsla(112, 44%, 55%, 0.5);
		}
		80% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.2);
			text-shadow: 0 0 2px 10px hsla(112, 44%, 55%, 0.2);
		}
		85% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.5);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.5);
		}
		90% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.1);
			text-shadow: 0 0 2px 9px hsla(112, 44%, 55%, 0.1);
		}
		95% {
			-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.5);
			text-shadow: 0 0 3px 12px hsla(112, 44%, 55%, 0.5);
		}
	}
}
