@use '../util' as u;

.hero {
	background-color: var(--header-bg);
	color: var(--text-light);
	// animation: fadein 2s;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 100vh;
		gap: 40px;
		padding-top: u.rem(200);
	}
	&__image {
		width: 62%;
		max-width: u.rem(483);
		padding-bottom: 20px;

		transition: transform 0.6s ease-in-out;

		&:hover {
			transform: rotate(-5deg); // Rotate image 10 degrees on hover
		}

		@include u.breakpoint(large) {
			// flex: 5;
			order: 2;
			width: 100%;
		}
	}
	&__text {
		animation: fadein 2s;
		@include u.breakpoint(large) {
			// flex: 6;
		}
	}

	&__button-wrapper {
		display: flex;
		justify-content: flex-start; // Horizontally center the items
	}
	&__background-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -100;
	}

	&__scroll {
		align-self: center;
		opacity: 0;
		animation: fadeIn 4s infinite;
		-webkit-animation: fadeIn 4s infinite;
		-moz-animation: fadeIn 4s infinite;
		-o-animation: fadeIn 4s infinite;
		animation: fadeIn 4s infinite;
		animation-delay: 0.5s;

		@include u.breakpoint-down(small) {
			scale: 75%;
		}
	}
}

.marquee {
	animation: fadein 4s;
	z-index: -1;
	font-family: u.$silly-font;
	font-size: clamp(15rem, 16.194vw + 10.425rem, 25rem);
	white-space: nowrap;
	-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.22);
	color: hsla(112, 44%, 55%, 0);
	overflow: hidden;
	top: 15%;
	right: 0;
	position: absolute;
	overflow-x: hidden;
	box-sizing: border-box;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
