@use '../util' as u;

.hero {
	// background-color: var(--header-bg);
	color: var(--text-light);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 90vh;
		gap: 40px;
		padding-top: u.rem(200);
	}
	&__image {
		width: 62%;
		max-width: u.rem(483);
		padding-bottom: 20px;

		transition: transform 0.6s ease-in-out;

		&:hover {
			transform: rotate(-5deg); // Rotate image 10 degrees on hover
		}

		@include u.breakpoint(large) {
			// flex: 5;
			order: 2;
			width: 100%;
		}
	}
	&__text {
		animation: fadeOnLoad 2s;
		@include u.breakpoint(large) {
			// flex: 6;
		}
	}

	&__button-wrapper {
		display: flex;
		justify-content: flex-start; // Horizontally center the items
	}
	&__background-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -100;
	}

	&__scroll {
		align-self: center;
		opacity: 0;
		animation: fadeInOut 4s infinite;
		-webkit-animation: fadeInOut 4s infinite;
		-moz-animation: fadeInOut 4s infinite;
		-o-animation: fadeInOut 4s infinite;
		animation: fadeInOut 4s infinite;
		animation-delay: 1.5s;

		@include u.breakpoint-down(small) {
			scale: 75%;
		}
	}
}

.bg-text-hero {
	animation: fadein 4s;
	z-index: -1;
	font-family: u.$silly-font;
	font-size: u.rem(460);
	white-space: nowrap;
	-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.262);
	color: hsla(112, 44%, 55%, 0);
	overflow: hidden;
	top: 15%;
	right: 0;
	position: absolute;
	overflow-x: hidden;
	box-sizing: border-box;

	@include u.breakpoint-down(small) {
		font-size: u.rem(320);
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOnLoad {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
