@use '../util' as u;

.hero {
	// background-color: var(--header-bg);
	color: var(--text-light);

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		height: 100vh;
		gap: 40px;
		padding-top: u.rem(20);

		@include u.breakpoint-down(medium) {
			text-align: center;
		}
	}
	&__image {
		width: 62%;
		max-width: u.rem(483);
		padding-bottom: 20px;

		transition: transform 0.6s ease-in-out;

		&:hover {
			transform: rotate(-5deg); // Rotate image 10 degrees on hover
		}

		@include u.breakpoint(large) {
			// flex: 5;
			order: 2;
			width: 100%;
		}
	}
	&__text {
		float: left;
		@include u.breakpoint(large) {
			// flex: 6;
		}
	}

	&__title {
		transition: opacity 0.5s; /* fade out and in */
	}

	&__button-wrapper {
		display: flex;
		justify-content: flex-start; // Horizontally center the items
	}
	&__background-video {
		width: auto;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -100;

		@include u.breakpoint-down(small) {
			right: -15vh;
		}
	}

	&__gradient-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: -50; /* place it just above the background video */
		background: linear-gradient(
			to right,
			rgba(10, 107, 112, 0.439) 10%,
			rgba(255, 255, 255, 0) 60%
		);
	}
}

.bg-text-hero {
	// animation: fadein 4s;
	z-index: -1;
	font-family: u.$silly-font;
	font-size: u.rem(460);
	white-space: nowrap;
	-webkit-text-stroke: 2px hsla(112, 44%, 55%, 0.262);
	color: hsla(112, 44%, 55%, 0);
	overflow: hidden;
	top: 15%;
	right: 0;
	position: absolute;
	overflow-x: hidden;
	box-sizing: border-box;

	@include u.breakpoint-down(small) {
		font-size: u.rem(320);
	}
}
