@use '../util' as u;

.next-arrow {
	z-index: 100;
	width: 35px;
	display: block;
	position: absolute;
	pointer-events: auto;
	left: 50%;
	// top: 100vh;
	transform: translateX(-50%);
	mix-blend-mode: luminosity;
	opacity: 0;
	animation: fadeInOut 4s infinite;
	-webkit-animation: fadeInOut 3s infinite;
	-moz-animation: fadeInOut 3s infinite;
	-o-animation: fadeInOut 3s infinite;
	animation: fadeInOut 3s infinite;
	animation-delay: 0.5s;
	z-index: 1000;
	padding-bottom: 5%;
}

#arrow1 {
	bottom: 0;
}

#arrow2 {
	z-index: 1;
	top: 90%;
	animation: fadeInOut 4s infinite;
	-webkit-animation: fadeInOut 3s infinite;
	-moz-animation: fadeInOut 3s infinite;
	-o-animation: fadeInOut 3s infinite;
	animation: fadeInOut 3s infinite;
	animation-delay: 3s;
	pointer-events: auto;
	@include u.breakpoint-down(large) {
		top: 110%;
	}
}

.scroll {
	align-self: center;

	@include u.breakpoint-down(small) {
		scale: 75%;
	}
}
