@use '../util' as u;

.partners {
	min-height: 50vh;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;

	@include u.breakpoint-down(small) {
		background-attachment: scroll;
		background-repeat: repeat-y;
		padding-block: 20px;
		min-height: 20px;
	}
}

.what-we-build {
	min-height: 50vh;
	background: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;
}
