@use '../util' as u;

.projects-directory {
	height: auto;
	width: 100vw;
	position: relative;
	&__wrapper {
		background-color: var(--background-color);
		position: relative;
		min-height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;

		@include u.breakpoint-down(medium) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__preview {
		background-size: cover;
		padding: 100px 8vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		width: 50vw;

		@include u.breakpoint-down(medium) {
			width: 100vw;
			padding: 100px 10vw;
		}
	}

	&__preview-link {
		aspect-ratio: 1/1;
		width: 20vw;
		min-width: 300px;
		height: auto;
		object-fit: cover;
		border-radius: 50%;
		border: 6px solid var(--lilly-green);
		margin-block-end: 30px;

		transition: transform 0.15s linear, box-shadow 0.15s linear;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185);

		&:hover {
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185),
				0 10px 40px rgba(2, 125, 20, 0.691);
		}
	}
}

#preview-fortnite-reunion {
	background-image: url(/img/projects/Fortnite\ Reunion\ Cake.png);
}

#preview-valorant-select {
	background-image: url(/img/projects/val-select-screen.png);
}

#preview-mtn-dew {
	background-image: url(/img/backgrounds/mtn-dew-bg.png);
}

#preview-tfue {
	background-image: url(/img/backgrounds/tfue-bg.jpg);
}

#preview-porsche {
	background-image: url(/img/backgrounds/porsche-bg.png);
}

#preview-boom {
	background-image: url(/img/backgrounds/boom\ bg.png);
}
#preview-fortnite-reunion,
#preview-valorant-select, #preview-mtn-dew, #preview-tfue, #preview-porsche, #preview-boom {
	position: relative;
	background-size: cover; /* Adjust as needed */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(
			0,
			0,
			0,
			0.75
		); /* Initial dark semi-transparent color */
		/* Initial blur effect */
		z-index: 1; /* Ensure it sits on top of the background image */
		pointer-events: none; /* Allow interaction with underlying content */

		transition: backdrop-filter 1s, background 1s; /* Smooth transition for both properties */

		@include u.breakpoint(medium) {
			backdrop-filter: blur(5px); 
		}
		@include u.breakpoint-down(small) {
			backdrop-filter: blur(2px); 
		}
	}

	&:hover::before {
		backdrop-filter: blur(0px); /* Remove blur on hover */
		background: rgba(
			0,
			0,
			0,
			0.65
		); /* Lighten the semi-transparent color */
	}

	& > * {
		position: relative;
		z-index: 2;
	}
}
