@use '../util' as u;

.preview {
	height: 100vh;
	padding-block: 15vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 100;
	position: relative;

	@include u.breakpoint-down(medium) {
		background-attachment: scroll;
	}

	&__text {
		z-index: 200;
		display: flex;
		flex-direction: column;
		height: 80vh;
		// justify-content: space-between;
	}

	&__subheader {
		z-index: 200;
	}

	&__header {
		z-index: 200;

		font-size: 4rem;
		font-size: clamp(4rem, 3.6rem + 2vw, 6rem);
	}

	&__description {
		z-index: 200;
		max-width: 50ch;
		word-wrap: break-word;
		white-space: normal;
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
}

.preview {
	position: relative; /* Ensure the parent has a position for absolute children */

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(4, 41, 42, 0.229);
		z-index: 0;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%; /* Cover the entire section */
		height: 100%; /* Cover the entire section */
		background: linear-gradient(
			to bottom right,
			hsla(194, 100%, 12%, 0.855),
			10%,
			hsla(194, 100%, 12%, 0.533) 15%,
			rgba(4, 41, 42, 0) 40%
		); /* Smooth gradient */
		z-index: 1; /* Ensure this overlay is above the main overlay */
	}
}

#reunion {
	background-image: url(/img/backgrounds/reunion-bg.webp);
}

#porsche {
	background-image: url(/img/projects/porsche-911/screencaps/vlcsnap-2024-08-23-15h11m02s874.webp);
}
#valorant-select {
	background-image: url(/img/projects/valorant-select/select-bg.webp);
}
