@use '../util' as u;

.projects-directory wrapper {
	@include u.breakpoint-down(medium) {
		margin-inline: 100px;
	}
}

.projects-directory {
	padding-top: 20vh;
	height: auto;
	width: 100vw;
	position: relative;

	&__headline {
		text-align: center;
		margin: 0 auto;
	}

	&__frame {
		margin-block: 10vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
		column-gap: 20px;
		max-width: 100vw;
		align-items: center;
		justify-content: center;

		@include u.breakpoint-down(medium) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__preview {
		grid-column: span 1;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		@include u.breakpoint-down(medium) {
			width: 90%;
		}
	}

	&__preview img {
		border-radius: 10px;
		border: 4px solid var(--lilly-green);
		margin-bottom: 12px;
	}

	// &__preview-link {
	// 	width: 20vw;
	// 	min-width: 300px;
	// 	height: auto;
	// 	object-fit: cover;
	// 	border-radius: 4px;
	// 	border: 2px solid var(--lilly-green);
	// 	margin-block-end: 30px;

	// 	transition: transform 0.15s linear, box-shadow 0.15s linear;
	// 	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185);

	// 	&:hover {
	// 		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.185),
	// 			0 10px 40px rgba(2, 125, 20, 0.691);
	// 	}
	// }
}
