@use '../util' as u;

.project {
	// overflow-x: hidden;
	width: 100vw;
	// min-height: 100vh;
	padding-top: 10vh;

	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;

	background-repeat: no-repeat;

	color: var(--murky-water);

	&__wrapper {
		width: min(100% - u.rem(40), 75%);

		@include u.breakpoint-down(large) {
			width: min(100% - u.rem(0), 80%);
		}

		& p {
			font-family: u.$font;
			font-weight: 400;
			line-height: 1.75;
			font-style: normal;
			margin-block: u.rem(40);
		}
	}

	&__banner {
		position: relative;
		margin-top: -12vh;
		height: 75vh; /* Adjust the height to your liking */
		width: auto;
		// overflow: hidden;
		background-image: url(/img/projects/Fortnite\ Reunion\ Cake.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;

		@include u.breakpoint-down(medium) {
			height: 50vh;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 75vh;

			@include u.breakpoint-down(medium) {
				height: 50vh;
			}

			background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 50%,
				var(--background-color) 100%
			);

			z-index: 1; /* Make sure it's on top of the image */
		}
	}

	&__info {
		height: auto;
		width: 100vw;
		background-color: var(--murky-water);
		margin-inline: auto;
		// width: min(100% - u.rem(40), 75%);
		max-width: 100%;
		padding-inline: u.rem(100);

		@include u.breakpoint(large) {
		}

		@include u.breakpoint-down(medium) {
			// width: min(100% - u.rem(40), 100%);
			max-width: 95%;
			padding-inline: u.rem(0);
		}

		& p {
			margin-block: 0;
			text-indent: -70px; /* indent the first line by -50px */
			font-size: u.rem(18);
			margin-left: 70px;

			@include u.breakpoint-down(small) {
				font-size: u.rem(14);
				margin-left: 0;
				flex: 1;
				text-align: center;
			}

			& svg {
				width: 40px;
				vertical-align: middle;
				margin-right: 20px;

				@include u.breakpoint-down(medium) {
					display: block;
					margin-bottom: 10px;
					margin: 0 auto;
				}
			}
		}
	}

	&__layout1 {
		gap: 2%;
		height: 100vh; /* Add this to ensure the layout takes full viewport height */
		// overflow: hidden;
	}

	&__details {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: column;
		column-gap: 10vw;

		@include u.breakpoint-down(small) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			text-align: center;
		}
	}

	&__wrapper img {
		width: 50vw;
		max-width: 1200px;
		display: block;
		text-align: center;
		// border: 4px solid var(--lilly-green);
		border-radius: 10px;
		box-shadow: 0 10px 10px hsla(210, 100%, 5%, 0.503);

		margin: 10px auto;

		@include u.breakpoint-down(large) {
			width: 80vw;
		}
	}

	&__featured-image {
		display: block;
		text-align: center;
		border: 4px solid var(--lilly-green);
		border-radius: 10px;
		box-shadow: 0 10px 10px hsla(210, 100%, 5%, 0.503);
		max-width: 600px;
		margin: 10px auto;
	}

	&__video-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 aspect ratio */
		height: 0;
		overflow: hidden;
		max-width: 100%;
		background: #000; /* Optional: Background color while loading */
		border-radius: 10px; /* Optional: Rounds the corners */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow */
		margin-bottom: u.rem(10);
	}

	&__video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0; /* Remove iframe border */
	}

	& h1 {
		line-height: 1.2;
		// text-align: center;
		margin-block: u.rem(40);
		// font-size: u.rem(20);
	}

	&__banner-details p {
		margin-block: 0;
	}
}

.divider {
	background-image: url(/img/accents/Leafs\ Long\ -\ Green.svg);
	background-repeat: no-repeat;
	height: 100px;
	width: 75%;
	margin: 0 auto;
}

#our-team,
#values-headline {
	text-align: center;
}

figcaption {
	font-style: italic;
	text-align: center;
	font-family: u.$font;
	color: var(--lilly-green);
}

.bio-accent {
	margin: 10px auto;
	width: 25px;
	text-align: center;
}

#values {
	padding-bottom: 25vh;
}
