@use '../util' as u;

.services {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--background-color);
	background-image: url(/img/backgrounds/tinyPondText.png);
	background-position: center;
	background-size: 300vh;
	background-attachment: fixed;
}

.services img {
	border-radius: 10px;
	border: 5px solid var(--lilly-green);
}
