@use '../util' as u;

.subfeature {
	height: 100vh;
	position: relative;
	&__content {
		height: 100vh;
		z-index: 10;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5vw;

		@include u.breakpoint-down(small) {
			flex-direction: column;
		}
	}

	& .reverse {
		flex-direction: row-reverse;
		@include u.breakpoint-down(small) {
			flex-direction: column;
		}
	}

	&__content-text {
		width: 50vw;
		@include u.breakpoint-down(small) {
			width: 90vw;
			text-align: center;
		}
	}

	&__content-headline {
		font-size: 4rem;

		line-height: 1;

		@include u.breakpoint-down(small) {
			font-size: 2.5rem;
			font-size: clamp(
				2.5rem,
				1.5601503759398496rem + 5.012531328320802vw,
				3.75rem
			);
			margin-block-end: u.rem(80);
		}
	}

	&__feature-img {
		width: 50vw;
		display: flex;
		justify-content: center;
		align-items: center;
		@include u.breakpoint-down(small) {
			width: 90vw;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 20vw;
		z-index: -1;
	}

	&__accent {
		position: absolute;
		top: 0;
		left: 0;
		width: 20vw;
		z-index: -1;
	}

	&__design-feature {
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.9));
	}

	&__animation-feature {
		width: 50vw;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
	}
}

.content-subtext {
	line-height: 2;
}

#reunion {
	top: 12vh;
	left: 30vw;
	width: 15vw;
}

#mtndew {
	top: 4vh;
	left: 72vw;
	width: 18vw;
}

#warzone {
	left: 25vw;
	top: 70vh;
}

#pglock {
	top: 4vh;
	left: 0vw;
	width: 25vw;
}

#accent-starburst {
	top: 75vh;
	left: 5vw;
	width: 10vw;
}

#accent-lilly1 {
	top: 100vh;
	left: 70vw;
	width: 11vw;
}

#viewport {
	top: 15vh;
	left: 0vw;
	width: 18vw;
	border-radius: 20px;
	mask-position: center;
	mask-repeat: no-repeat;
}

#codeRedPC {
	left: 38vw;
	top: 10vh;
	width: 12vw;
	border-radius: 10%;
}

#porscheClip {
	border-radius: 20px;
	top: 75vh;
	left: 28vw;
	width: 23vw;
}


