@use '../util' as u;

.subfeature {
	z-index: 1;
	min-height: 100vh;
	position: relative;
	// padding-block: 200px;

	&__content {
		min-height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-block-end: 10vh;
		gap: 25vw;
		@include u.breakpoint-down(medium) {
			flex-direction: column;
		}
	}

	& .reverse {
		flex-direction: row-reverse;
		@include u.breakpoint-down(medium) {
			flex-direction: column;
		}
	}

	&__content-text {
		text-align: center;
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
		width: 50vw;
		@include u.breakpoint-down(medium) {
			width: 90vw;
			text-align: center;
		}
	}

	&__content-headline {
		font-size: 3rem;

		line-height: 1;

		@include u.breakpoint-down(small) {
			font-size: 2.5rem;
			font-size: clamp(
				2.5rem,
				1.5601503759398496rem + 5.012531328320802vw,
				3.75rem
			);
			margin-block-end: u.rem(80);
		}
	}

	&__content-offerings {
		margin-block: 20px;
		display: flex;
		flex-direction: row;
		display: inline-block; /* add this */
		line-height: 2;
		text-align: center;
	}
	&__content-offering {
		flex: 0 0 auto;
		min-width: 0;
		font-family: u.$header-font;
		text-transform: uppercase;
		font-size: u.rem(18);
		border: 2px solid var(--lilly-green);
		padding: 0px 20px;
		border-radius: 20px;
		white-space: nowrap;
		margin-inline: u.rem(5);
		display: inline-block;
		box-sizing: border-box; /* Add this */
		margin-bottom: u.rem(10); /* Add this */

		transform: scale(1);
		transform-origin: center;
		transition: transform 0.45s ease, background-color 0.5s,
			drop-shadow 1s;

		&:hover {
			background-color: var(--lilly-green);
			transform: scale(1.05);
			filter: drop-shadow(0 0 20px hsla(0, 0%, 90%, 0.226));
		}
	}

	&__feature-img {
		width: 50vw;
		min-width: 500px;
		max-width: 1000px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-inline: 50px;
		margin-block: 5vh;
		@include u.breakpoint-down(small) {
			width: 90vw;
			min-width: 0px;
		}

		& video-wrapper {
			position: relative;
			width: 35vw;
			min-width: 350px;
			margin: auto;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 10vw;
		min-width: 200px;
		z-index: 1;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));

		@include u.breakpoint-down(medium) {
			display: none;
		}
	}

	&__accent {
		position: absolute;
		top: 0;
		left: 0;
		width: 20vw;
		z-index: -10;
	}

	&__design-feature {
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
	}

	&__animation-feature {
		// position: absolute;
		width: 45vw;
		height: 100%;
		object-fit: cover;
		transform: translateZ(0);
		-webkit-mask-image: url('/img/accents/Lilly\ Pad-teal.svg');
		-webkit-mask-size: 100% 100%;
		-webkit-mask-position: center;
		mask-image: url('/img/accents/Lilly\ Pad-teal.svg');
		mask-size: 100% 100%;
		mask-position: center;
		filter: drop-shadow(0 2 20px rgba(9, 183, 56, 0.5));

		@include u.breakpoint-down(small) {
			width: 100vw;
			margin: 0 auto;
		}
	}

	&__broadcast-feature {
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
		border: 8px solid var(--lilly-green);
		border-radius: 40px;
		width: 55vw;
		margin-block: 10vh;

		@include u.breakpoint-down(small) {
			width: 100vw;
			margin-block: 10vh;
		}
	}
}

@keyframes rotate-mask {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.content-subtext {
	line-height: 2;
}

#accent-lillypad {
	top: 45vh;
	left: 80vw;
	width: 12vw;
}

#mtndew {
	top: 10vh;
	left: 70vw;
}

#warzone {
	top: 15vh;
	left: 3vw;
}

#cracked {
	left: 75vw;
	top: 85vh;
}

#accent-lilly1 {
	width: 10vw;
}

#accent-starburst {
	top: 75vh;
	left: 5vw;
	width: 10vw;
}

#viewport {
	top: 15vh;
	left: 0vw;
	width: 18vw;
	border-radius: 20px;
	mask-position: center;
	mask-repeat: no-repeat;
}

#codeRedPC {
	left: 38vw;
	top: 10vh;
	width: 12vw;
	border-radius: 10%;
}

#porscheClip {
	border-radius: 20px;
	top: 75vh;
	left: 24vw;
	width: 23vw;
}

#valPoster {
	top: 94vh;
	width: 22vw;
	left: -4vw;
	border-radius: 5px;
}

#calderaPoster {
	top: 94vh;
	width: 22vw;
	left: 20vw;
	border-radius: 5px;
}

#fnreunion {
	top: 94vh;
	width: 22vw;
	left: 44vw;
	border-radius: 5px;
}

#fnreunion {
	top: 94vh;
	width: 22vw;
	left: 44vw;
	border-radius: 5px;
}
