@use '../util' as u;

.topnav {
	background: linear-gradient(
		to bottom,
		hsl(194, 60%, 14%) 0%,
		hsla(0, 0%, 100%, 0) 100%
	);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-block: 20px;
		z-index: 10;
	}

	&__homelink {
		transform: scale(1);
		transition-property: transform, opacity;
		transform-origin: center;
		transition-duration: 400ms;
		&:hover {
			opacity: 0.95;
			transform: scale(1.05);
		}
	}
	&__logo {
		width: u.rem(180);
		padding: 20px 10px 0 0;
		@include u.breakpoint-down(medium) {
			width: u.rem(126);
		}
	}
	&__links {
		font-family: u.$header-font;
		display: flex;
		justify-content: right;
		gap: 30px;

		@include u.breakpoint-down(small) {
			gap: 16px;
		}
	}
	// &__item {

	// }
	&__link {
		display: inline-block;
		font-size: u.rem(16);
		font-weight: 700;
		letter-spacing: 0.05em;
		color: var(--murky-clouds);
		text-transform: uppercase;

		transform: scale(1);
		transition-property: text-shadow, transform;
		transform-origin: center;
		transform: translateZ(0);
		transition-duration: 100ms;

		@include u.breakpoint-down(small) {
			font-size: u.rem(14);
		}
		&:hover {
			text-decoration-thickness: 1px;
			transform: scale(1.05);
			color: var(--lilly-green);
			text-shadow: 0 0 20px hsla(195, 77%, 50%, 0.476);
		}
	}
}
