@use '../util' as u;

.wrapper {
	margin-inline: auto;
	width: min(100% - u.rem(40), 75%);
	max-width: 85%;
	padding-block: 60px;
	padding-inline: u.rem(10);

	@include u.breakpoint(large) {
		padding-block: 80px;
	}

	@include u.breakpoint-down(medium) {
		width: min(100% - u.rem(40), 100%);
		max-width: 100%;
		padding-inline: u.rem(0);
	}
}
