---
layout: /layouts/base.html
---

{% assign currentIndex = -1 %} {% for project in collections.projects %} {% if
project.url == page.url %} {% assign currentIndex = forloop.index0 %} {% endif
%} {% endfor %} {% assign nextIndex = currentIndex | plus: 1 %} {% assign
secondNextIndex = currentIndex | plus: 2 %}

<main id="main" class="project-main">
	<div class="project-container" data-current-slug="{{ page.fileSlug }}">
		<article class="project-content">
			<section class="project">
				<div class="wrapper project__wrapper">
					{{ content }}

					<div class="next-projects-container">
						{% assign nextProject =
						collections.projects[nextIndex] %} {% if
						nextProject == null %} {% assign nextProject =
						collections.projects[0] %} {% endif %}
						<h2 class="explore-more">More Work:</h2>

						<a
							href="{{ nextProject.url | url }}"
							class="next-project-link"
						>
							<div class="next-project-preview">
								<img
									src="{{ nextProject.data.imagePath }}"
									alt="{{ nextProject.data.title }}"
									class="next-project-image-element"
								/>
								<div class="next-project-info">
									<h2>
										{{ nextProject.data.title }}
									</h2>
									<p>
										{{
										nextProject.data.description
										}}
									</p>
								</div>
							</div>
						</a>

						{% assign secondNextProject =
						collections.projects[secondNextIndex] %} {% if
						secondNextProject == null %} {% assign
						secondNextProject = collections.projects[1] %} {%
						endif %}
						<a
							href="{{ secondNextProject.url | url }}"
							class="next-project-link"
						>
							<div class="next-project-preview">
								<img
									src="{{ secondNextProject.data.imagePath }}"
									alt="{{ secondNextProject.data.title }}"
									class="next-project-image-element"
								/>
								<div class="next-project-info">
									<h2>
										{{
										secondNextProject.data.title
										}}
									</h2>
									<p>
										{{
										secondNextProject.data.description
										}}
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</section>
		</article>
	</div>
</main>
