---
layout: 'layouts/base.html'
title: 'Tiny Pond | Bespoke Design and Animation for Bold Brands'
description: 'Tiny Pond is a proudly independent creative team creating designs and animations that empower your brand. We create unique, impactful solutions for creators, businesses, events, and live broadcasts, bringing your vision to life with care and expertise.'
---

<section class="hero" id="home">
	<div class="wrapper hero__wrapper">
		<div class="hero__gradient-overlay"></div>
		<video
			class="hero__background-video"
			autoplay
			loop
			muted
			playsinline
			poster="/img/backgrounds/poster.jpg"
			data-parallax="-0.5"
		>
			<source
				src="/img/landing/TP_PondLoop_FullWidth.webm"
				type="video/webm"
			/>
			<source
				src="/img/landing/TP_PondLoop_FullWidth_h264_crf21.mp4"
				type="video/mp4"
			/>
		</video>
		<div class="hero__text">
			<h1 class="hero__title" data-parallax="0">
				Tiny Pond,<br />Big Results.
			</h1>
			<!-- <h1 class="hero__title" data-parallax="0.2">
				We Craft <br />Elite
				<span id="hero__title">Visuals.</span>
			</h1> -->
			<p class="hero__content" data-parallax="0">
				A proudly independent, full service design and animation
				studio.
			</p>

			<!-- <a href="#work" data-parallax="0"
				><button class="button tertiary" type="submit">
					See Our Work
				</button></a
			> -->

			<a href="#wip" class="js-scroll" data-parallax="0">
				<img
					src="/img/accents/down arrow.svg"
					class="next-arrow"
					id="arrow1"
				/>
			</a>

			<div class="bg-text-hero" aria-hidden="true" data-parallax="0.8">
				TINY POND
			</div>
		</div>
	</div>
</section>
{% include "includes/about-intro.html" %} {% include "includes/about-team.html"
%} {% include "includes/about-services.html" %} {% include
"includes/values.html" %} {% include "includes/construction.html" %}
