---
layout: 'layouts/base.html'
title: 'Tiny Pond, a Digital Design Co-Op'
---

<section class="hero" id="home">
	<div class="wrapper hero__wrapper">
		<div class="hero__gradient-overlay"></div>
		<video
			class="hero__background-video"
			autoplay
			loop
			muted
			poster="/img/backgrounds/poster.webp"
			data-parallax="-0.5"
		>
			<source
				src="/img/landing/HomeReel_h264_crf23.mp4"
				type="video/mp4"
			/>
		</video>
		<div class="hero__text">
			<h1 class="hero__title" data-parallax="0.4">
				We Craft <br />Elite
				<span id="hero__title">Visuals.</span>
			</h1>
			<h2 class="hero__content" data-parallax="0.4">
				We’re a creative agency with a friendly, collaborative
				approach. <br />
				<a href="#contact" class="button primary hero__button"
					>Let's Talk!</a
				>
			</h2>
			<h2></h2>

			<a href="#features" class="js-scroll">
				<img
					src="/img/accents/down arrow.svg"
					class="next-arrow"
					id="arrow1"
				/>
			</a>

			<!-- <div class="bg-text-hero" aria-hidden="true" data-parallax="0.6">
				TINY POND
			</div> -->
		</div>
	</div>
</section>

{% include "includes/services.html" %} {% include "includes/projects.html" %}
