---
layout: 'layouts/base.html'
title: 'About Us'
description: 'Meet the team and learn more about our mission at Tiny Pond, a proudly independent creative team creating designs and animations that empower your brand. We create unique, impactful solutions for creators, businesses, events, and live broadcasts, bringing your vision to life with care and expertise.'
---


{% include "includes/about-intro.html" %} {% include "includes/about-team.html"
%} {% include "includes/about-services.html" %} {% include
"includes/values.html" %}
